.metadata/*
.metadata/.plugins/org.eclipse.core.resources/.projects/HH/.indexes/af/history.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi